# Operations on Tuples

Like lists we can perform same operations on tuples. Some of the operations are:

- Arithmetic
- Membership
- Loop

#### Arithmetic Operations on Tuples : 

We can perform arithmetic operations on tuples. The operations are:
- Addition
- Multiplication

Addition and Multiplication operations are performed on tuples in the same way as they are performed on lists.

**Syntax:**
```python
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

tuple3 = tuple1 + tuple2 # Addition  # concatenation operation is performed on tuples and concatenation operation is defined as the operation of joining two or more tuples together to form a new tuple.

tuple4 = tuple1 * 3 # Multiplication

```
Output:
```python
tuple3 = (1, 2, 3, 4, 5, 6) # Addition

tuple4 = (1, 2, 3, 1, 2, 3, 1, 2, 3) # Multiplication
```

In [3]:
# Exercise :

# Write a program using Arithmetic Operators in two tuples and print the result. 

tuple1 = (10, 20, 30, 40, 50)
tuple2 = (5, 10, 15, 20, 25)

result = tuple1 + tuple2

print(result)

(10, 20, 30, 40, 50, 5, 10, 15, 20, 25)

#### Membership Operations on Tuples : 

We can perform membership operations on tuples. The operations are:
- in
- not in

Membership operations are performed on tuples in the same way as they are performed on lists.

**Syntax:**
```python
tuple1 = (1, 2, 3)

print(1 in tuple1) # Output: True

print(4 not in tuple1) # Output: True
```
Output:
```python
True

True
```

In [15]:
# Exercise :

# Q) Write a program using Membership Operators in two tuples and print the result.

tuple1 = (10, 20, 30, 40, 50)
tuple2 = (5, 10, 15, 20, 25)

print(20 in tuple1 and 10 in tuple2)

True

#### Loop Operations on Tuples :

We can perform loop operations on tuples. The operations are:
- for loop

Loop operations are performed on tuples in the same way as they are performed on lists.

**Syntax:**
```python
tuple1 = (1, 2, 3)

for i in tuple1:
    print(i)
```
Output:
```python
1
2
3
```

In [16]:
# Exercise :

# Q) Write a program using Loops in one tuple and print the result.

t1 = (10, 20, 30, 40, 50)

for i in t1:  # for loop to print the elements of tuple t1 and i is the variable that stores the elements of tuple t1 and prints the elements of tuple t1.
    print(i)

10
20
30
40
50