# Sets Operations in Python :

A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable (which cannot be changed).

However, the set itself is mutable. We can add or remove items from it.

Sets can be used to perform mathematical set operations like union, intersection, symmetric difference, etc. 

Sets have the following properties:

1. Sets are unordered.
2. Set elements are unique. Duplicate elements are not allowed.
3. A set itself may be modified, but the elements contained in the set must be of an immutable type.

**Some of the most common operations that can be performed on sets are as follows:**

1. Union(|)
2. Intersection (&)
3. Difference (-)
4. Symmetric Difference (^)
5. Membership
6. Iteration

#### 1. Union(|)

The union of two sets A and B is the set of elements which are in A, in B, or in both A and B. The union is performed using the | operator.

Syntax: 
```python
A | B
```

Example:
```python
A = {1, 2, 3, 4, 5} 
B = {4, 5, 6, 7, 8}
print(A | B)  # Output: {1, 2, 3, 4, 5, 6, 7, 8} Because 4 and 5 are common in both sets A and B. So, they are not repeated in the output.
```

Output:
```
{1, 2, 3, 4, 5, 6, 7, 8}
```

In [1]:
# Exercise 

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# 1. Find the union of s1 and s2

s1 | s2  # {1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

#### 2. Intersection(&)

The intersection of two sets A and B is the set of elements which are common in both A and B. The intersection is performed using the & operator.

Syntax: 
```python
A & B
```

Example:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A & B)  # Output: {4, 5}
```

Output:
```
{4, 5}
```

In [2]:
# Exercise 2
# Find the intersection of s1 and s2

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 & s2  # {4, 5}

{4, 5}

#### 3. Difference(-)

The difference of two sets A and B (A - B) is the set of elements that are only in A but not in B. The difference is performed using the - operator.

Syntax: 
```python
A - B
```

Example:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A - B)  # Output: {1, 2, 3}
```

Output:
```
{1, 2, 3}
```

In [3]:
# Exercise 3
# Find the difference between s1 and s2

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 - s2  # {1, 2, 3}
s2 - s1  # {8, 6, 7}

{6, 7, 8}

#### 4. Symmetric Difference(^)

The symmetric difference of two sets A and B is the set of elements which are in either of the sets A or B, but not in both. The symmetric difference is performed using the ^ operator. ^ named as caret.

Syntax: 
```python
A ^ B
```

Example:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A ^ B)  # Output: {1, 2, 3, 6, 7, 8}
```

Output:
```
{1, 2, 3, 6, 7, 8}
```

In [4]:
# Exercise 4
# Find the symmetric difference between s1 and s2

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 ^ s2  # {1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

#### 5. Membership

We can test if an element is in a set or not using the `in` keyword and `not in` keyword.

Example:
```python
A = {1, 2, 3, 4, 5}
print(3 in A)  # Output: True
print(6 in A)  # Output: False
```

Output:
```
True
False
```

#### 6. Iteration operation

We can iterate over each element in a set using a for loop.

Example:
```python
A = {1, 2, 3, 4, 5}
for i in A:
    print(i)
```

Output:
```
1
2
3
4
5
```